/* Estilo para o formulário */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg{
    background-image: url("bg-cadastro.png");

    filter: blur(5px);
    -webkit-filter: blur(5px);

  /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form h1 {
    text-align: center;
    margin-top: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%; /* Ajusta o tamanho do input para ocupar todo o espaço disponível */
    padding: 10px;
    margin-bottom: 20px; /* Espaço entre os campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não altere o tamanho do input */
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#resposta {
    font-size: 15px;
}


.back-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-btn:hover{
    background-color: #0056b3;
}




/*-------------------------- CSS relacionado ao mapa  --------------------------*/

html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto;
}

#map {
    height: 100vh; /* 100% da altura da viewport */
    width: 100vw;  /* 100% da largura da viewport */
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.2s ease;
    padding-top: 60px;
}

/* O menu quando estiver aberto */
.menu.open {
    width: 250px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.menu label{
    color: #ffffff;
}

.menu .options{
    display: flex;
}

.menu p{
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    color: #ffffff;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu .sub-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10%;
}

.menu .sub-btn:hover {
    background-color: #0056b3;
}

/* Estilo do ícone de menu hambúrguer */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    color: #111;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/*-------------------------- POP-UP --------------------------*/


.popup .instagram{
    display: block;
    margin-bottom: 10px;
}