/* Estilo para o formulário */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg{
    background-image: url("img/bg-cadastro.png");

    filter: blur(5px);
    -webkit-filter: blur(5px);

  /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%; /* Ajusta o tamanho do input para ocupar todo o espaço disponível */
    padding: 10px;
    margin-bottom: 20px; /* Espaço entre os campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não altere o tamanho do input */
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#categoria{
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}






/*-------------------------- CSS relacionado ao mapa  --------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 100vh; /* 100% da altura da viewport */
    width: 100%;  /* 100% da largura da viewport */
}

/* Estilos do menu lateral */
.menu {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    padding-top: 20px;
    border-radius: 0 50px 50px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.menu.open { /* *//* */
    left: 0;
}

.menu.closed { /* *//* */
    left: -300px;
}

/* Ícone de menu hambúrguer */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.hamburger img {
    height: 120px;
    margin-left: 85px;
    margin-right: 85px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 20%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo do menu */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.menu-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-top: 50%;
}

/* Filtros */
.filtros {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}


.filter-option {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #e0e0e0;
    padding: 10px 20px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-residuo {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #e0e0e0;
    padding: 10px 20px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-residuo input[type="radio"] {
    margin-right: 10px;
}

.filter-option input[type="radio"] {
    margin-right: 10px;
}

.filter-residuo:hover {
    background-color: #3f8f29;
    color: #ffffff;
    transition: all 0.3s ease;
}
 
.filter-option:hover {
    background-color: #ba1e1e;
    color: #ffffff;
    transition: all 0.3s ease;
}



/* Botão de inscrição */
.inscricao {
    margin-top: 20px;
}

.inscrever-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.inscrever-btn:hover {
    background-color: #0056b3;
}

/* Seção de contato */
.contato {
    margin-top: auto;
    text-align: center;
    padding: 20px;
}

.contato p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icon {
    width: 35px;
    height: 35px;
}

/* Animação do menu */
.menu.open {
    left: 0;
}

.menu.closed {
    left: -300px;
}

/*----------------------POP-UP----------------------*/

.popup .instagram{
    display: block;
    margin-bottom: 10px;
} 

.popup .contatos-mapa{
    display: flex;
}

.popup .contatos-mapa .whatsapp{
    margin-right: 15px;
}



/*--------------- ADMIN -----------------*/

/* Estilos gerais do body */
.body-admin {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

/* Título da página */
.titulo-admin {
    font-size: 2rem;
    margin: 1.5rem 0;
    color: #333;
}

/* Estilo dos botões de navegação */
.selecao-tabelas {
    margin-bottom: 20px;
}

.selecao-tabelas button {
    background-color: #008304;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.selecao-tabelas button:hover {
    background-color: #005e05;
}

.selecao-tabelas button:focus {
    outline: none;
}

/* Tabela */
.tabela h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

td {
    background-color: #fff;
}

td img {
    max-width: 80px;
    border-radius: 5px;
}

/* Estilos de linhas alternadas na tabela */
tr:nth-child(even) td {
    background-color: #f4f6f9;
}

/* Botões de Ações */
button.aprovar-instituicao,
button.reprovar-instituicao {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

button.aprovar-instituicao {
    background-color: #008b4a;
}

button.reprovar-instituicao {
    background-color: #dc3545;
}

button.aprovar-instituicao:hover {
    background-color: #006b36;
}

button.reprovar-instituicao:hover {
    background-color: #c82333;
}

/* Estilos para o Modal */

.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal h2{
    margin-bottom: 20px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* página de login */

/* Estilos aplicados apenas à página de login */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #2e90ff;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0042f8;
}

.login-container .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* botao de logout da página de gestao */

.body-admin form {
    margin: 0;
    padding: 0;
    display: inline;
}

.body-admin form .logout-button {
    background-color: rgb(255, 66, 66);
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 20px; /* Ajuste a distância do fundo */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    margin-bottom: 10px;
}

.body-admin form .logout-button:hover {
    background-color: rgb(219, 0, 0);
}



